<mat-card-title class="mb-4 fw-bold">{{ id ? 'Edit Task' : 'Add Task' }}</mat-card-title>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (form.controls.title.hasError('required')) {
        <mat-error>Title is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="4" formControlName="description"></textarea>
      </mat-form-field>

       <mat-form-field appearance="outline" class="full">
      <mat-label>Task Icon (URL)</mat-label>
      <input matInput formControlName="icon">
    </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option value="Low">Low</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="High">High</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>
     
 
    <!-- due -->
      <mat-form-field appearance="outline" class="full">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if(form.get('dueDate')?.hasError('required')){
 <mat-error>Due date required</mat-error>
      }
     
    </mat-form-field>
    <!--  -->
      <div class="actions">
        <button mat-stroked-button type="button" color="primary" routerLink="/tasks">Cancel</button>
        <button mat-flat-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
